@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

body a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

body p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

/* Removes links defulta blue color*/
footer a {
  text-decoration: none;
  color: white;
}

/* Removes background color from filter collapse and border*/
.ant-collapse {
  background-color: transparent !important;
  border: 0;
}

/* Removes the separator from the table header*/
.ant-table-thead .ant-table-cell::before {
  width: 0px !important;
}

/* Removes background color from table header*/
.ant-table-thead .ant-table-cell {
  background: transparent !important;
}

/* Removes background color from exapanded table*/
.ant-table-expanded-row .ant-table-cell {
  background: transparent !important;
}

.materialDetailTable tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-inline-start: 0px !important;
}

.ant-card .ant-card-body {
  padding: 0 !important;
}

.materialDetailTable {
  table-layout: fixed;
}

.materialDetailTable .valueCell {
  text-align: right;
}

.materialDetailTable .leftPaddingCell {
  padding-left: 2rem;
}
